#aboutapp{
	margin: -10px -8px -8px -10px;
	background: #ccc;
	display: none;
	}
.aboutTitle{
	border-top: 3px solid rgba(0,119,114,0.9);
	font: small-caps 18px sans;
	color: rgba(0,119,114,0.9);
	margin: 0 auto;
	width: 84px;
	padding-top: 5px;
	}
.appinfo,.apptitle, .icon_name{
	font-size: 18px;
	font-family: sans;
	color: #344;	
	}
.appname{
	font-size: 17px;
	font-family: sans;
	color: #456;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
	word-spacing: 10px;
	font-weight: bold;
	}
.appinfo{
	padding-bottom: 5px;
	text-align: center;
	}
.apptitle{
	text-align: center;
	margin: 10px 0 2px 0;
	color: rgba(500,110,0,0.8);
	padding-top: 10px;
	}
.aboutlist{
	font-size: 15px;
	font-family: arial;
	color: #344;
	display: inline-block;
	}
li{
	padding: 5px;
}

.link{
	color: rgba(0,119,114,0.7);
	}
.about_icon{
	margin-left: 120px;
	margin-right: 20px;
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	display: inline;
}
