#aboutapp{
	margin: -15px -10px 0 -10px;
	background: rgba(0,0,0,0.7);
	height: 39em;
	display: none;
	}
.appinfo,.apptitle{
	font-size: 15px;
	font-family: arial;
	color: #fff;	
	}
.appinfo{
	padding-top: 30px;
	text-align: center;
	}
.apptitle{
	margin: 10px 0 2px 40px;
	font-weight: bold;
	color: rgba(500,110,0,0.8);
	}
.aboutlist{
	font-size: 12px;
	font-family: arial;
	color: #fff;
	display: inline-block;
	}
li{
	padding: 5px;
}

.link{
	color: rgba(0,119,114,0.7);
	}
