
#community{
	margin-top: 20px;
	display: none;
	}
#community .groupNav{
	margin: -20px -8px 5px -8px;
	font-family: arial;
	text-align: center;
	}
#community .groupNumber{
	display: inline-block;
	font-family: arial;
	font-size: 25px;
	margin: 1% 0.5% 1% 0.5%;
	padding: 2px 1.5px;
	cursor: pointer;
	cursor: hand;
	color: #456;
	}
#community .groupNumberActive{
	border-bottom: 3px solid #456;
	}
.vrline2{
	height: 30px;
	border: 1px solid #ccc;
	margin: auto;
	display: inline-block;
}
.remainingtime{
	font-size: 13px;
	color: rgba(0,0,0,0.5);
	margin: 2px auto;
	}
.timeColor{
	margin: 7px auto;
	width: 30px;
	border: 1px solid rgba(40, 167, 0,1);
	box-shadow: 1px 1px 1px 2px rgba(40, 167, 0,1);
	}
.timeColored{
	margin: 7px auto;
	width: 30px;
	border: 1px solid rgba(187, 7, 7, 0.94);
	box-shadow: 1px 1px 1px 2px rgba(187, 7, 7, 0.94);
	}
#routine{
	margin: 30px;
	}	
.table{
	margin: 0 auto;
	width: 210px;
	}	

#routine .weekDay{
	vertical-align: middle;
	font: small-caps 160% arial;
	color: rgba(0,119,114,0.7);
	display: inline-block;
	width: 70px;
	}
#routine .whattime{
	vertical-align: middle;
	font: small-caps 17px arial;
	display: inline-block;
	color: #456;
	text-align: center;
	width: 120px;
	}
