#developers{
	margin: -10px -8px -8px -8px;
	background: #ccc;
	height: auto;
	display: none;
	}
.developersTitle{
	border-top: 3px solid rgba(0,119,114,0.9);
	font: small-caps 18px sans;
	color: rgba(0,119,114,0.9);
	margin: 0 auto;
	width: 89px;
	}
.us{
	margin: 20px 10px 10px 0;
	display: inline-block;
	}	
.devBlock{
	border-bottom: 1px solid #fff;
	padding: 5px;
	margin-left: 30px;
	width: 145px;
	}
.name{
	font-family: arial;
	font-size: 16px;
	color: #344;
	}
.contact{
	font-family: arial;
	font-size: 13px;
	color: #344;
	text-decoration: none;
	font-style: italic;
	}
.inquiry{
	font-size: 14px;
	color: #344;
	font-family: sans;
	text-align: center;
	display: block;
}
.logo{
	bottom: 35px;
	position:relative;
}
