header{
	margin: -5px -8px 10px -10px;
	}

.vrline1{
	font-size: 45px;
	height: 50px;
	border: 1px solid rgba(0,119,114,0.9);
	margin: -10px 10px -4px 10px;
	display: inline-block;
	}

#hrline1{
	height: 0;
	border: 1px solid rgba(0,119,114,0.9);
	width: auto;
	}
#hrline2{
	border: 0.4px solid #ccc;
	width: 100%;
	height: 0;
	}
.listIcon{
	margin: 5px 2px 4px 0;
	cursor: hand;
	cursor: pointer;
	opacity: 0.7;
	}
.title{
	color: #456;
	font: small-caps 28px arial;
	display: inline;
	float: right;
	margin: 3px 20px 10px 0;
	}

nav{
	float: right;
	display: inline-block;
	margin: 5px 10px 0 1px;
	}
.navbar{
	opacity: 0.5;
	cursor: hand;
	cursor: pointer;
	display: inline;
	margin-right: 15px;	
	}
#list{
	border: 0px solid #34495e;
	background: rgba(0,0,0,0.5);
	width: 100px;
	min-height: 100%;
	height: auto;
	float: left;
	position: absolute;
	box-shadow: 2px 3px 2px grey; 
	margin-left: -10px;
	margin-top: -10px;
	position: top;
	display: none;
	}
#list .list_img{
	padding: 20px 0 0 35px;
	opacity: 0.8;
	cursor: hand;
	cursor: pointer;
	}
section{
	overflow: hidden;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: -8px;
/*	display: none;*/
	}
section .info,.location,.group_no,.current_day, .username{
	font-size: 115%;
	font-family: sans;
	color: rgba(0,0,0,0.4);
	display: inline;
	word-spacing: 2px;
	}
section .time{
	font-size: 220%;
	font-family: sans;
	color: rgba(0,0,0,0.6);
	padding: 5px 0 5px 0;
	}
section .on_off{
	font-size: 100%;
	font-family: sans;
	color: rgba(0,0,0,0.7);
	display: inline;
	word-spacing: 2px;
	}
section .current_day{
	font-size: 110%;
	color: rgba(0,119,114,0.7);
	display: inline;
	word-spacing: 2px;
	overflow: hidden;
	}
section .username{
	font-size: 100%;
	color: rgba(500,110,0,0.8);
	word-spacing: 2px;
	}
section #showtime .showtime{
	background:#344;
	font-size: 120%;
	font-family: sans;
	color: rgba(455,455,455,1);
	word-spacing: 2px;	
	padding-top: 5px;
	padding-left: 20px;
}
